
user {{ nginx_default_user }};
pid  {{ nginx_pid }};

events {
        worker_connections   {{ set_worker_connections }};
        # multi_accept on;
}


http{
    # basic settings
    
    # Async I/O 
    sendfile on;
    
    # TODO: error handling


    # log info
    access_log {{ access_log_dir }}
    error_log {{ error_log_dir }}


    upstream {{ client_facing_address }} {
    server {{ upstream_address_1 }}:{{ service_port }}   weight=1;
    server {{ upstream_address_2 }}:{{ service_port }}   weight=1;
    }
    server {
        listen {{ service_port }} ssl;
        listen [:::]:{{ service_port }}; 

        servername              somewhere.com
        ssl_protocol:           TLSv1.2;
        ssl_certificate:        {{ ssl_cert_path }}
        ssl_certificate_key:    {{ ssl_cert_key }}
        ssl_session_cache:      shared:SSL:10m
        ssl_session_timeout:    10m;

        location {{ request_uri }} {
            proxy_pass  http://{{ client_facing_address }};
        }
    }
}